body{
    margin: 0;
    padding: 0;
    background: url(pictures/bg.JPG) no-repeat; 
    background-size: cover;
}
.navbar{
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.navbar a{
    font-family: 'Century Gothic', sans-serif;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px;
}
.navbar a:hover{
    background: rgba(0, 0, 0, 0.2);
}
.navbar a.active{
    background-color: rgba(0, 0, 0, 0.6);
}
.home-box{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 100;
}
.text-box{
    width: 400px;
    text-align: left;
    margin: 100px;
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: 100;
}
.home-box-img{
    /* border-radius: 0%; */
    width: 416px;
    height: 312px;
}
h1{
    font-size: 40px;
    font-weight: 100;
}
h2{
    font-weight: 100;
}
h3{
    font-weight: 100;
}
h4{
    font-weight: 100;
}
h5{
    font-size: 20px;
    font-weight: 100;
}
h6{
    font-size: 15px;
    font-weight: 100;
    text-align: justify;
}
p{
    text-align: left;

}
ul{
    margin: 0;
    padding: 0;
}
.dash {
    list-style-type: none;
    padding-left: 10px;
  }
.dash li:before {
    content: "–";
    position: absolute;
    margin-left: -10px;
  }
.home-box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.home-box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .home-box li a:hover{
    color: #b9b9b9;
  }
  