body{
    margin: 0;
    padding: 0;
    background: url(bg.JPG) no-repeat; 
    background-size: cover;

}
.navbar{
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.navbar a{
    font-family: 'Century Gothic', sans-serif;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px;
}
.navbar a:hover{
    background: rgba(0, 0, 0, 0.2);
}
.navbar a.active{
    background-color: rgba(0, 0, 0, 0.6);
}
.home-box{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.home-box-img{
    /* border-radius: 0%; */
    width: 416px;
    height: 312px;
}
.home-box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;

}
.home-box h2{
    letter-spacing: 3.75px;
    font-weight: 100;

}
.home-box h3{
    letter-spacing: 3.5px;
    font-weight: 100;

}
.home-box h4{
    letter-spacing: 3.25px;
    font-weight: 100;

}
.home-box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.home-box h6{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: justify;
}
.home-box p{
    text-align: justify;

}
ul{
    margin: 0;
    padding: 0;
}
.home-box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.home-box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .home-box li a:hover{
    color: #b9b9b9;
  }
  